{% extends 'dishes/main_layout.html' %}
{% load static %}

{% block title %}
    About Us
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'dishes/about_us_styles.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@500;600;700&family=Chelsea+Market&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class='content'>
        <h1 class='content_header'>Хто ж такі SmakolykyUA? </h1>
        <p class='content_text'>
            Всім привіт! Мене звати Андрій, я з України. Цей застосунок був створений за допомогою Django
            як мій перший "Pet-Project". Замість розповсюджених "To-Do Lists" в мене виникла ідея створити цей проект,
            в якому ви маєте можливість швидко зберігати, знайдені на просторах інтернету чи в реальному житті,
            рецепти тих чи інших страв. Прикріпити фото того що вийшло чи має вийти, додавати посилання на рецепт
            чи відео тощо.
        <p class='content_text'>
            Так, можливості дещо обмежені, але я планую і далі вдосконалювати цей проект та 
            додавати новий функціонал. Поки-що, мова сайту виключно українська, але в планах є переклад 
            щонайменше англійскою мовою.
        </p>
        <p class='content_text'>
            Для користування можливостями вам потрібно пройти нескладну
            регістрацію, клікнувши на відповідний лінк в шапці сайту. Якщо ж ви хочете ознайомитись з 
            функціоналом, та за будь-яких причин не хочете реєструватися, я створив для вас тестового юзера. 
            Тому просто введіть ці данні (Login: Test_User, Password: 123456UA) в поля логіну
            і мершій тестити застосунок! З найкращими побажаннями SmakolykyUA!
        </p>
    
        </p>
    </div>
{% endblock %}