{% extends 'dishes/layout.html' %}
{% load static %}

{% block title %}
    Edit a Dish
{% endblock %}

{% block styles%}
    <link rel="stylesheet" href="{% static 'dishes/add_styles.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@500;600;700&family=Chelsea+Market&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class='content'>
        <div class="content-form__wrapper">
            <h1>Внести зміни</h1>
            <form enctype="multipart/form-data" method="post" class='content-form__form'>
                {% csrf_token %}
                <h3>Назва страви:</h3>
                {{ form.dish_name }}               
                <h3>Змінити/Додати посилання на рецепт:</h3>
                {{ form.dish_url }}
                <h3>Змінити/Додати посилання на відео:</h3>
                {{ form.video_url }}                 
                <h3>Додати фото:</h3>
                {{ image_form }}                
                <h3>Додати файл:</h3>
                {{ file_form }}          
                <div class="content-button__wrapper">
                    <input type="submit" value="Зберегти" class='content-button__button'>
                </div>            
            </form>
        </div>
    </div>

{% endblock %}

