{% extends 'dishes/main_layout.html' %}
{% load static %}

{% block title %}
    How to use
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'dishes/about_us_styles.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@500;600;700&family=Chelsea+Market&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class='content'>
        <h1 class='content_header'>Як користуватися можливостями застосунку</h1>
        <div class='content_text'>
            <ol>
                <li class='content__list'>
                    <span class='content-list__span'>
                        Для цього я пропоную розглянути приклад. Ви прийшли до друзів на вечерю і там ви скуштували
                        дуже смачну "Лазанью". І неодмінно захотіли собі той рецептик. Ви робите фото з послідовними інструкціями
                        та необхідними інгрідієнтами з кулінарної книги своїх друзів. Та рушаєте додому.
                    </span>
                </li>
                <li class='content__list'>
                    <span class='content-list__span'>
                        Вдома, щоб не загубити ті фото а разом з ними і рецепт ви створюєте обліковий запис на нашому сайті, входите
                        та натискаєте кнопку "Новий рецепт". Вас переносить на сторінку з формою додавання нової страви.
                    </span>
                </li>
                <li class='content__list'>
                    <span class='content-list__span'>
                        В цій формі існує декілька полів, давайте розглянемо їх більш детально:
                        По перше потрібно вказати назву страви (пишемо наприклад: Лазанья).
                        Потім форма пропонує вам вказати посилання на рецепт. Це може бути спеціалізований
                        сайт з рецептами (в нашому випадку такого посилання ми не маємо тому пропускаємо і йдемо далі)
                        Наступний крок - посилання на відео, наприклад якщо знайшли щось смачненьке та цікавеньке на Youtube тощо
                        (ми знову пропускаємо цей крок і переходимо далі).
                        А далі - можливість додати фото (тиснемо на кнопку "Вибрати файл", вибираємо фото та клікаємо відкрити).
                        Можливо ви захочете додати в це поле фото страви яка у вас вийшла, чи просто як вона має виглядати.
                        Це залишається на ваш розсуд, а ми йдемо далі.
                        Останнє поле - це можливість додати файл з рецептом (в нашому прикладі ми поки що пропускаємо цей крок)

                    </span>
                </li>
                <li class='content__list'>
                    <span class='content-list__span'>
                        Потім, коли ви зберегли цей рецепт ви перемістились на список своїх смаколиків.
                        Тут ви можете редагувати їх, видаляти та переходити до сторінки "Як приготувати".
                        Якщо через деякий час вам необхідно переглянути інформацію по страві, наприклад які
                        інгрідієнти та якій кількості необхідно купити або скільки часу випікати. Для цього 
                        і існує цей застосунок.
                    </span>
                </li>

                <li class='content__list'>
                    <span class='content-list__span'>
                        І на сам кінець. Ви приготували ту Лазанью, вийшло дуже смачно, але вам не дуже сподобалось 
                        готувати по фото. Ви переходите до <a target='blanc' href ='https://www.notion.so/'>Notion</a>
                        чи просто відкриваєте текстовий редактор, красиво оформлюєете цей покроковий рецепт, вносите зміни
                        до відповідного запису (додавши файл, або посилання). Тепер можете видалити те фото з кулінарної книги. Або замінити
                        його на світлину того що у вас вийшло...
                        Реєструйтесь, заходьте до нас і зберігійте свої смачні знахідки. Готуйте та балуйте своїх близьких
                        і самого себе новими смаколиками, разом з SmakolykyUA!
                    </span>
                </li>

            </ol>
            
        </div>
    </div>
{% endblock %}